.footer4{
    width: 100%;
    height: 100%;
    padding: 0 0 2rem;
    background-color: #120032;
}

.footer-container4{
    margin: 0 10% 10% 10%;
}

.footer4 .footer-container4 .contact .container4{
    background-color: #fff;
    color: #08ffdc;
    margin: 3rem 0 0 0;
    padding-bottom: 2rem;
    border: 12px solid #08ffdc;
    display: grid;
    max-width: 1840px;
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-gap: 250px;
}

.footer4 .footer-container4 .contact .container4 .left{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    height: 100%;
    max-width: 100%;
    margin: 1rem 0 0 0rem;
    padding: 0.5rem;
    position: relative;
}

.footer4 .footer-container4 .contact .container4 .right{
    height: 100%;
    max-width: 100%;
    margin: 3.5rem 0 0 5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
}

.footer4 .footer-container4 .contact h1{
    font-size: 3rem;
    padding: 6rem 0 0.5rem;
    font-family: 'Outfit';
    color: #08ffdc;
    letter-spacing: 1px;
}

.footer4 .footer-container4 .contact h1::after{
    content: "";
    display: block;
    width: 48px;
    padding-top: 3px;
    border-bottom: 4px solid #fff;
}

.footer4 .footer-container4 .contact p{
    font-size: 1.2rem;
    padding: 2rem 2rem 0 0;
    font-family: 'Outfit';
    color: #fff;
    letter-spacing: 1px;
}

.footer4 .footer-container4 .contact .container4 .left .text #location{
    font-size: 1.2rem;
    margin-left: 2rem;
    font-family: 'Outfit';
    color: #120032;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer4 .footer-container4 .contact .container4 .left .text #location::after{
    font-size: 1.1rem;
    margin-left: 1rem;
    font-family: 'Outfit';
    color: #120032;
    letter-spacing: 1px;
    font-weight: normal;
    content: "Gorakhpur, India";
}

.footer4 .footer-container4 .contact .container4 .left .text #email{
    font-size: 1.2rem;
    margin-left: 2rem;
    font-family: 'Outfit';
    color: #120032;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer4 .footer-container4 .contact .container4 .left .text #email::after{
    font-size: 1.1rem;
    margin-left: 1rem;
    font-family: 'Outfit';
    color: #120032;
    font-weight: normal;
    letter-spacing: 1px;
   content: "israni.riya21@gmail.com";
}

.footer4 .footer-container4 .contact .container4 .left .text #call{
    font-size: 1.2rem;
    margin-left: 2rem;
    font-family: 'Outfit';
    color: #120032;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer4 .footer-container4 .contact .container4 .left .text #call::after{
    font-size: 1.1rem;
    margin-left: 1rem;
    font-family: 'Outfit';
    color: #120032;
    font-weight: normal;
    letter-spacing: 1px;
    content: "+91 8400787009";
}

.footer4 .footer-container4 .contact .container4 .left .icons #social-icons1{
    background: #120032;
    border-radius: 50%;
    margin-top: 3.5rem;
    margin-left: 2rem;
    padding: 0.5rem;
    width: 2.3rem;
    height: 2.3rem;
}

.footer4 .footer-container4 .contact .container4 .left .icons #social-icons2{
    background: #120032;
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: 2rem;
    padding: 0.5rem;
    align-items: center;
    width: 2.3rem;
    height: 2.3rem;
}

.footer4 .footer-container4 .contact .container4 .left .icons #social-icons3{
    background: #120032;
    border-radius: 50%;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    align-items: center;
    width: 2.3rem;
    height: 2.3rem;
}

.footer4 .footer-container4 .contact .container4 .right h2{
    font-size: 1.2rem;
    font-family: 'Outfit';
    color: #120032;
    letter-spacing: 1px;
}

.footer4 .footer-container4 .contact .container4 .right button{
    color: #fff;
    background-color: #120032;
    align-content: center;
    margin: 1rem 0 1rem 4.5rem;
    padding: 0.3rem;
    border-radius: 5%;
}

@media screen and (max-width: 940px){
    .footer4 .footer-container4 .contact h1{
        font-size: 2rem;
    }

    .footer4 .footer-container4 .contact p{
        font-size: 1.1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #location{
        font-size: 1.1rem;
        margin-top: 4.5rem;
        margin-left: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #email{
        font-size: 1.1rem;
        margin-top: 4.5rem;
        margin-left: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #call{
        font-size: 1.1rem;
        margin-top: 4.5rem;
        margin-left: 1rem;
    }
    
    .footer4 .footer-container4 .contact .container4 .left .text #location::after{
        font-size: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #email::after{
        font-size: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #call::after{
        font-size: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .icons #social-icons1{
        margin-top: 3.8rem;
        padding: 0.5rem;
        width: 2rem;
        height: 2rem;
    }
    
    .footer4 .footer-container4 .contact .container4 .left .icons #social-icons2{
        padding: 0.5rem;
        width: 2rem;
        height: 2rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .icons #social-icons3{
        padding: 0.5rem;
        width: 2rem;
        height: 2rem;
    }

    .footer4 .footer-container4 .contact .container4{
        grid-template-columns: 0fr;
        grid-gap: 0px;
    }

    .footer4 .footer-container4 .contact .container4 .right h2{
        font-size: 1.1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left{
        margin: 0 2rem 0 0;
    }

    .footer4 .footer-container4 .contact .container4 .right{
        margin: 3rem 2rem 0 2rem;
    }

 
}

@media screen and (max-width: 1400px) and (min-width: 939px){
    .footer4 .footer-container4 .contact h1{
        font-size: 2rem;
    }

    .footer4 .footer-container4 .contact p{
        font-size: 1.1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #location{
        font-size: 1.1rem;
        margin-top: 4.5rem;
        margin-left: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #email{
        font-size: 1.1rem;
        margin-top: 4.5rem;
        margin-left: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #call{
        font-size: 1.1rem;
        margin-top: 4.5rem;
        margin-left: 1rem;
    }
    
    .footer4 .footer-container4 .contact .container4 .left .text #location::after{
        font-size: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #email::after{
        font-size: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .text #call::after{
        font-size: 1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .icons #social-icons1{
        margin-top: 3.8rem;
        padding: 0.5rem;
        width: 2rem;
        height: 2rem;
    }
    
    .footer4 .footer-container4 .contact .container4 .left .icons #social-icons2{
        padding: 0.5rem;
        width: 2rem;
        height: 2rem;
    }

    .footer4 .footer-container4 .contact .container4 .left .icons #social-icons3{
        padding: 0.5rem;
        width: 2rem;
        height: 2rem;
    }

    .footer4 .footer-container4 .contact .container4{
        grid-gap: 10px;
    }

    .footer4 .footer-container4 .contact .container4 .right h2{
        font-size: 1.1rem;
    }

    .footer4 .footer-container4 .contact .container4 .left{
        margin: 0 2rem 0 0;
    }

    .footer4 .footer-container4 .contact .container4 .right{
        margin: 3rem 2rem 0 2rem;
    }
}
